<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/style.css">
		<title>Music</title>
	</head>
	<body>
		<h1>Albums</h1>
        <ul>
            <li>Please Please Me (1963)</li>
            <li>With the Beatles (1963)</li>
            <li>A Hard Day's Night (1964)</li>
            <li>Beatles for Sale (1964)</li>
            <li>Help! (1965)</li>
            <li>Rubber Soul (1965)</li>
            <li>Revolver (1966)</li>
            <li>Sgt. Pepper's Lonely Hearts Club Band (1967)</li>
            <li>The Beatles ("The White Album") (1968)</li>
            <li>Yellow Submarine (1969)</li>
            <li>Abbey Road (1969)</li>
            <li>Let It Be (1970)</li>
        </ul>

		<div id="navBtn">
			<a href="/">Home 🏠</a>
            <a href="/about">About</a>
		</div>
	</body>
</html>
